.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  max-width: 728px;
  margin: 3.5rem auto 0;

  h1 {
    font-size: 3.5rem;
  }

  time {
    display: block;
    margin-top: 1.5rem;
    font-size: 1rem;
    color: var(--gray-300);
  }

  .postContent {
    margin-top: 1.5rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-100);

    p,
    ul {
      margin: 1rem 0;
    }

    ul {
      padding-left: 1.6rem;

      li {
        margin: 3.5rem auto 0;
      }
    }
  }
}
